/* Big tablet to 1200px (widths smaller that the 1140px row */
@media only screen and (max-width: 1200px) {
	.hero-text-box {
		width: 100%;
		padding: 0 2%;
	}
	.row {
		padding: 0 2%;
	}
	h1 {
		margin-top: 0;
	}
}

/* Media query ini berfungsi untuk Ipad dengan mode lanscape */
/* small tablet to big tablet: from 678 to 1023 */
@media only screen and (max-width: 1023px) {
	body {
		font-size: 18px;
	}
	section {
		padding: 60px 0;
	}
	section.section-meals {
		padding: 0;
	}
	.long-copy {
		width: 90%;
		margin-left: 10%;
	}
	.steps-box:last-child {
		margin-top: 1px !important;
	}
	.section-steps .works-step {
		margin: 8% 0;
	}
	.section-steps .works-step {
		margin-bottom: 40px;
	}
	.works-steps:last-of-type {
		margin-bottom: 80px;
	}
	/* DIV */
	.section-steps .works-step div {
		font-size: 120%;
		width: 40px;
		height: 40px;
		padding: 9px;
	}
	.app-screen {
		width: 50%;
	}
	.section-cities .cities-feature ion-icon {
		font-size: 90%;
	}
	.section-cities .cities-feature {
		font-size: 90%;
	}
	.plan-box {
		width: 100%;
		margin-left: 0;
	}
	.plan-price {
		font-size: 250%;
	}
	.plan-box div {
		font-size: 91%;
	}
}

/* Media query ini biasa digunakan untuk media Ipad */
/* small only phones to small tablets: from 481 to 767 */
@media only screen and (max-width: 767px) {
	body {
		font-size: 16px;
	}
	section {
		padding: 30px 0;
	}
	.row,
	.hero-text-box {
		padding: 0 4%;
	}
	.col {
		width: 100%;
		margin: 0 0 0 0;
	}
	h1 {
		font-size: 150%;
	}
	h2 {
		font-size: 150%;
	}
	.section-steps .works-step {
		margin-bottom: 20px;
	}
	.mobile-nav-icon {
		display: inline-block;
	}
	nav .logo {
		width: 20%;
		height: 20%;
	}

	.main-nav {
		display: none;
		float: left;
		margin-top: 35px;
		margin-left: 25px;
	}
	.main-nav li {
		display: block;
	}

	.main-nav li a:link,
	.main-nav li a:visited {
		display: block;
		border: 0;
		font-size: 80%;
	}
	.stincky .main-nav li a:link,
	.stincky .main-nav li a:visited {
		padding: 10px 0;
	}
	.stincky .main-nav {
		margin-top: 10px;
	}
	.stincky ion-icon {
		color: #555;
	}
	.stincky .mobile-nav-icon {
		margin: 10px;
	}
	.section-features .row .long-copy {
		width: 80%;
		margin-left: 10%;
	}
	.section-features .row .col {
		width: 100%;
	}
	.app-screen {
		display: block;
		margin: 0 auto;
	}
	.section-cities .cities-feature ion-icon {
		font-size: 100%;
	}
	.section-cities .cities-feature {
		font-size: 100%;
	}
	cite {
		margin: 3% 0 15% 0;
	}

	cite img {
		width: 10%;
	}

	.section-plans .col {
		margin: 0;
	}

	.section-plans h3 {
		font-size: 150%;
	}
	.plan-box ion-icon {
		font-size: 100%;
	}
	/* footer */
	.link-home li a {
		font-size: 50% !important;
		margin: 0;
	}
	.link-home ul {
		width: 50%;
	}
	.love p {
		position: relative;
		top: -5.5px;
		float: right;
		font-size: 30%;
		width: 50%;
		margin: 0 !important;
	}
	footer .social {
		margin: 10% 0;
	}
	/* Penutup Footer */
}
/*
Media Kueri ini biasanya di gunakan untuk handpone lama seperti iphone  4 dan iphone 5
*/
/* small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
	.section {
		padding: 25px 0;
	}
	.contact-form {
		width: 100%;
	}
}
